<footer class="footer">
  <small>
    The Awesome App by TheBestName
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/thebestname/awesome_app">GitHub</a></li>
    </ul>
  </nav>
</footer>